/* Add Font  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Add background Image and center container */
body {
  background: url(Image/background.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
}
/* Desgin Side Bare */
.aside {
  background: #333;
  color: #fff;
  border-radius: 6px;
  padding: 30px 30px 80px;
  /* position: fixed; */
  top: 0;
}
.aside .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* style Logo Image */
.logo {
  width: 150px;
  margin: auto;
  padding: 50px 0;
}
.logo img {
  width: 100%;
}
/* Styles Buttons */
.btn {
  padding: 17px 20px;
  margin: 5px 0;
  font-size: 16px;
  /* white-space: nowrap; */
  background: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
}
/* hover Btn */
.btn:hover {
  background: rgba(126, 125, 125, 0.2);
}
/* Resize Show case  */
.showcase {
  flex: 2;
}
h3 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 0px 20px;
}

h3 > span {
  font-weight: 300;
}
.persons {
  padding: 0 120px;
  margin: 30px 0;
}
.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background: #ffffff57;
  padding: 20px;
  border-radius: 5px;
}
.total {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 36%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 5px;
}

@media screen and (max-width: 1047px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .persons {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .logo {
    width: 120px;
    padding: 40px 0;
  }
  .aside {
    width: 40%;
    padding: 0;
    padding-bottom: 40px;
  }
  .btn {
    font-size: 13px;
  }
  .persons {
    padding: 0 20px;
  }
  .persons > h3 {
    font-size: 22px;
  }
  .person {
    font-size: 16px;
  }
}
@media screen and (max-width: 558px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .logo {
    width: 98px;
    padding: 40px 0;
  }
  .aside {
    width: 40%;
    padding: 0;
    padding-bottom: 40px;
  }
  .btn {
    font-size: 10px;
    padding: 14px 8px;
  }
  .persons {
    padding: 0 5px;
    margin: 8px 0;
  }
  .persons > h3 {
    font-size: 15px;
    padding: 12px;
  }
  .person {
    font-size: 9px;
  }
}
